<p id="notice"><%= notice %></p>


<div class="section1">
      <div id="grid_section1" class="">
        <div class="section1_p1">квазоид</div>
        <div class="section1_p2"><a href="/promo/index">промо</a></div>
        <div class="section1_p3"><a href="/about/index">о нас</a></div>
        <div class="section1_p4"><%= link_to "посты", posts_path %></div>
      </div>
</div>

<section class="posts">
<div class="posts_container">
<button class='post_creation_action'><%= link_to 'Создать пост', new_post_path %></button>



        <% @posts.each do |post| %>
<div class="post">
    <div class="post_contentFull">


        <div class="post_additional">
        <p>Опубликовано <%= post.created_at %></p>
        <button><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></button>
        </div>

        <p class='post_author'><%= post.postauthor %></p>
        <p class='post_content'><%= post.content %></p>

        <div class="post_actions">
        <button><%= link_to 'Show', post %></button>
        <button><%= link_to 'Edit', edit_post_path(post) %></button>
        </div>


    </div>


    <%# <div class="comments">

    <div class="comments_action">
        <%# <%= render "commentts/form" %> 
        <%# <button class="comment_publish"></button>
    </div> %>

    <%# <div class="comments_list">
        
    </div>

    </div>  %>


</div>
        <% end %>

</div>
</section>


