<p id="notice"><%= notice %></p>




<section class="posts">
<div class="posts_container">
<button class='post_creation_action'><%= link_to 'Создать пост', new_post_path %></button>


<% @posts.each do |post| %>
 <div class="post_container">
    <div class="post_data">
      <div class="user_data">
        <p> <%= post.name %></p>
      </div>
      <img src="../../assets/images/more_icon.png" alt="">
      <p> <%= link_to 'Show', post %></p>
      <p><%= link_to 'Edit', edit_post_path(post) %></p>
      <p> <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></p>
    </div>
    <div class="post_content">
      <p><%= post.content %></p>
     
    </div>

        <td>
	      <%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%>
        </td>
        <td>
	<%= post.commentts.count %> <%= (post.commentts.count) == 1 ? 'Comment' : 'Comments'%>
</td>
    </div>


    <%# <div class="comments">

    <div class="comments_action">
        <%# <%= render "commentts/form" %> 
        <%# <button class="comment_publish"></button>
    </div> %>

    <%# <div class="comments_list">
        
    </div>

    </div>  %>


</div>
        <% end %>

</div>
</section>


