<p id="notice"><%= notice %></p>



<section class="posts">
<div class="posts_container">
<button class='post_creation_action'><%= link_to 'Создать пост', new_post_path %></button>



        <% @posts.each do |post| %>
<div class="post">
    <div class="post_contentFull">


        <div class="post_additional">
        <p><%= post.created_at %></p>
        <button><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></button>
        </div>

        <p class='post_author'><%= post.postauthor %></p>
        <p class='post_content'><%= post.content %></p>

        <div class="post_actions">
        <p><%= link_to 'Show', post %></p>
        <p><%= link_to 'Edit', edit_post_path(post) %></p>
        </div>


    </div>


    <div class="comments">

    <div class="comments_action">
        <%# <%= render "comments/form" %> %>
        <button class="comment_publish"></button>
    </div>

    <div class="comments_list">
        
    </div>

    </div>


</div>
        <% end %>

</div>
</section>


