<p id="notice"><%= notice %></p>

<div class="post_header">
  <div class="user_info">
    <div class="icon">
    </div>
    <p>
      <%= @post.postauthor %>
    </p>
  </div>
  <img src="../../assets/icon_more.png" alt="">
</div>


<p>
 
  <%= @post.content %>
</p>
<%= image_tag(@post.image.url, alt: 'Image') if @post.image? %>
<% if user_signed_in? %>
<%= link_to 'Редактировать', edit_post_path(@post) %> |
<% end %>|
<%= link_to 'Назад', posts_path %>
<p>
  <strong>Category:</strong>
  <%= @post.category.name %>
</p>
<div class="post_actions">
    <div class="comments">
      <img src="../../assets/images/comment.png" alt="">
      <p>

      </p>
    </div>
    <div class="like_action">
      <%= button_to 'Like', post_likes_path(@post), method: :post %>
      <p><%= @post.likes.count %> <%= (@post.likes.count) == 1 ? 'Like' : 'Likes'%></p>
    </div>
    <div class="pal_action">
    <p><%= @post.likes.count %> <%= (@post.likes.count) == 1 ? 'Like' : 'Likes'%></p>
    </div>
    
</div>

<h2>Add a comment:</h2>
<% if user_signed_in? %>
<%= render "commentts/form" %>
<% else %>
<p>Please <%= link_to 'login', new_user_session_path %> or <%= link_to 'register', new_user_registration_path %> to comment.</p>
<% end %>


