<!DOCTYPE html>
<html>
  <head>
    <title>Conspiracy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    
  </head>

  <body>
  
  <div class="top-menu">

      <div class="navbar_actions">
    <div class="navbar_logo"><%= link_to 'k', new_user_session_path, :class => 'logo' %></div> 
     
      <% if user_signed_in? %>

      <div class="navbar_links">
        
       <%= link_to 'Мой аккаунт', current_user, :class => 'myaccount_link' %> <%= link_to 'Выйти', destroy_user_session_path, method: :delete, :class => 'exit_link' %>
      <% else %>
        <%= link_to 'Войти', new_user_session_path, :class => 'signin_btn' %> 
        <%= link_to 'Зарегистрироваться', new_user_registration_path, :class => 'signup_btn' %>
      </div>
      <% end %>
      </div>
  <div class="topnavbar">
  
  
  </div>
</div>
<div class="website_content">

  <% if user_signed_in? && current_user.isadmin == true %>
    <div class="sidenavbar">
      <%= link_to 'Посты', posts_path %> 
      <%= link_to 'Категории', categories_path %> 
      <%= link_to 'Пользователи', users_path %> 
    </div>
  <% end %>
<%= yield %>
  </div>


  </body>
</html>
